name: Preparant per producci贸
run-name: ${{ github.actor }} est pujant l'aplicaci贸 a PROD  
on:
  push:
    branches:
      - actions
jobs:
  Pujar-a-produccio-amb-FTP:
    runs-on: ubuntu-latest
    steps:
      - name: Obtenint el codi del respositori
        uses: actions/checkout@v4
      
      - name: Prepara fitxer d'ultima actualitzaci贸
        run: |
          cd ${{ github.workspace }}
          echo "Action desplegant a produccio" > front/output/public/last_deploy.txt
          date >> front/output/public/last_deploy.txt
      
      - name: Desplegament FTP a producci贸
        uses: SamKirkland/FTP-Deploy-Action@v4.3.4
        with:
          server: ${{ secrets.FRONT_HOST }}
          username: ${{ secrets.USER_FRONT_SERVER }}
          password: ${{ secrets.FRONT_SERVER_PASSWORD }}
          local-dir: front/output/public/
          server-dir: /private/
          
      - run: echo " This job's status is ${{ job.status }}."